Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Task:

1. Create an sqlalchemy engine using a sample from the data set

In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

cols=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race',
               'sex','capital-gain','capital-loss','hours-per-week','native-country','label']

df=pd.read_csv('adult.data.txt', names=cols)
df.to_sql('adults', con=engine)

2. Write two basic update queries

In [9]:
str='''update adults set fnlwgt=77 where age=39;'''
engine.execute(str)

In [13]:
str='''update adults set education="11th" where trim(education)="Bachelors";'''
engine.execute(str)

3. Write two delete queries

In [15]:
str='''delete from adutls where "hours-per-week"=40;'''
engine.execute(str)

In [18]:
str='''delete from adults where age=50;'''
engine.execute(str)

4. Write two filter queries

In [22]:
str='''select * from adults where age<50 limit 5;'''
for rec in engine.execute(str):
    print(rec)

(6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K')
(8, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K')
(10, 37, ' Private', 280464, ' Some-college', 10, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', ' Male', 0, 0, 80, ' United-States', ' >50K')
(12, 23, ' Private', 122272, '11th', 13, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Female', 0, 0, 30, ' United-States', ' <=50K')
(13, 32, ' Private', 205019, ' Assoc-acdm', 12, ' Never-married', ' Sales', ' Not-in-family', ' Black', ' Male', 0, 0, 50, ' United-States', ' <=50K')

In [25]:
str='''select * from adults where trim(workclass)="Private" limit 5;'''
for rec in engine.execute(str):
    print(rec)

(6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K')
(8, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K')
(10, 37, ' Private', 280464, ' Some-college', 10, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', ' Male', 0, 0, 80, ' United-States', ' >50K')
(12, 23, ' Private', 122272, '11th', 13, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Female', 0, 0, 30, ' United-States', ' <=50K')
(13, 32, ' Private', 205019, ' Assoc-acdm', 12, ' Never-married', ' Sales', ' Not-in-family', ' Black', ' Male', 0, 0, 50, ' United-States', ' <=50K')

5. Write two function queries

In [28]:
str='''select min(age) from adults where trim(workclass)="State-gov";'''
for rec in engine.execute(str):
    print(rec)

(17,)

In [30]:
str='''select avg("capital-gain") from adults where trim(sex)="Female";'''
for rec in engine.execute(str):
    print(rec)

(636.018858131488,)